.banner .banner-content{text-align: center;color: #fff;}
.banner .banner-content h1{font-size: 100px;margin-bottom: 0;}
.banner .banner-content h4{text-transform: uppercase;font-size: 45px;margin-bottom: 0;letter-spacing: 2px;}
.banner .banner-content h4 span{color: #d471d7;}
.banner .banner-content p{color: #ada6d1;font-size: 30px;font-weight: 500;letter-spacing: 2px;}